/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
--main-color:#0aad0a;
--light-color:#f0f3f2;
--shadow:rgba(145,158,171,0.2) 0px 2px 4px -1px,
rgba(145,158,171,0.14) 0px 2px 5px 0px,
rgba(145,158,171,0.12) 0px 2px 10px 0px;
--main-family: "Encode Sans Expanded", sans-serif;
--rating-color:#ffc908;
--main-transition:0.8s;
}
body{
    font-family: var(--main-family);
}
.text-main{
    color: var(--main-color);
}
.bg-main-light{
    background-color: var(--light-color);
}
.rating-color{
    color: var(--rating-color);
}
.font-sm{
    font-size: 11px;
}
.bg-main{
    background-color: var(--main-color) !important;
}
.main-btn{
    background-color: var(--main-color) !important;
    color: #fff;
    border-radius: 5px;
    border: unset;
    cursor: pointer;
    padding: 4px 8px;
    &:disabled{
        background-color: #0aad0a83;
        color: #ffffff87;
        cursor: not-allowed;

    }

}
.product:hover{
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 4px;
    box-shadow: var(--shadow);

}
.product .btn{
    opacity: 0 !important;
    transition: transform 1s , opacity 1s !important;
    transform: translateY(100%);
}
.product:hover .btn{
    opacity: 1 !important;
    transform: translateY(0%) !important;
}
.active-link{
    color: var(--light-color) !important;
    background-color: var(--main-color) !important;
    border-radius: 5px !important;

}

a{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
   
}
